.vs/AoC25/FileContentIndex/744e03c0-023e-4596-9766-2674eb917311.vsidx
.vs/AoC25/FileContentIndex/8885bfc6-53e4-4fac-96f3-71e1cfc28b7f.vsidx
.vs/AoC25/v17/.wsuo
.vs/AoC25/v17/Browse.VC.db
.vs/AoC25/v17/DocumentLayout.json
.vs/ProjectSettings.json
1.txt
1test.txt
*.exe
*.o
.vscode/settings.json
.vscode/tasks.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
